@tailwind base;
@tailwind components;
@tailwind utilities;


.text_logo {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-style: italic;
    font-size: 24px; /* Larger font size for logo */
    font-weight: normal; /* Make the text bold */
    color: #0ad3c2; /* Dark color, adjust as needed */
    text-transform: uppercase; /* Make the text uppercase */
    letter-spacing: 0px; /* Increase spacing between letters */
    text-shadow: 2px 2px 5px #0c4e49; /* Add a subtle shadow for depth */
    display: inline-block; /* Make sure it behaves like a logo */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
.hide-scrollbar {
    scrollbar-width: none;
}

/* General fallback */
.hide-scrollbar {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    overflow: hidden;
}

.facebook-login-button {
    @apply bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-blue-700 flex items-center justify-center gap-2;
}

.facebook-login-button i {
    @apply text-xl mr-2;
}

@layer base {
    :root {
        --radius-lg: 12px;
        --radius-md: 10px;
        --radius-sm: 8px;
        --background: #f8f9fa;
        --foreground: #212529;
        --card: #ffffff;
        --card-foreground: #212529;
        --popover: #ffffff;
        --popover-foreground: #212529;
        --primary: #E6612A;
        --primary-foreground: #ffffff;
        --secondary: #FFDACB;
        --secondary-foreground: #ffffff;
        --muted: #6c757d;
        --muted-foreground: #ffffff;
        --accent: #17a2b8;
        --accent-foreground: #ffffff;
        --destructive: #dc3545;
        --destructive-foreground: #ffffff;
        --border: #dee2e6;
        --input: #ffffff;
        --ring: rgba(0, 123, 255, 0.25);
        --chart-1: #ff6384;
        --chart-2: #36a2eb;
        --chart-3: #cc65fe;
        --chart-4: #ffce56;
        --chart-5: #4bc0c0;
    }

    .dark {
        --dark-background: #212529;
        --dark-foreground: #f8f9fa;
        --dark-card: #343a40;
        --dark-card-foreground: #f8f9fa;
        --dark-popover: #343a40;
        --dark-popover-foreground: #f8f9fa;
        --dark-primary: #007bff;
        --dark-primary-foreground: #ffffff;
        --dark-secondary: #6c757d;
        --dark-secondary-foreground: #f8f9fa;
        --dark-muted: #6c757d;
        --dark-muted-foreground: #f8f9fa;
        --dark-accent: #17a2b8;
        --dark-accent-foreground: #ffffff;
        --dark-destructive: #dc3545;
        --dark-destructive-foreground: #ffffff;
        --dark-border: #495057;
        --dark-input: #495057;
        --dark-ring: rgba(0, 123, 255, 0.5);
        --dark-chart-1: #ff6384;
        --dark-chart-2: #36a2eb;
        --dark-chart-3: #cc65fe;
        --dark-chart-4: #ffce56;
        --dark-chart-5: #4bc0c0;
    }

}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
